<div class="row mt-5">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <p class="fs-1">Register</p>
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}
        <form action="/auth/register" method="POST">
            <input type="hidden" name="_csrf" value="{{ csrf }}" />
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" name="login" class="form-control" id="login" value="{{data.login}}">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" value="{{data.email}}">
            </div>
            <div class="mb-3">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" name="firstName" class="form-control" id="firstName" value="{{data.firstName}}">
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" name="lastName" class="form-control" id="lastName" value="{{data.lastName}}">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" value="{{data.password}}">
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Repeat password</label>
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                    value="{{data.confirmPassword}}">
            </div>
            <button type="submit" class="btn btn-success w-100">Sign Up</button>
        </form>
    </div>
</div>